.Pivacy_heading {
  color: #111 !important;
  font-family: "proxima_novasemibold";
  font-size: 28px !important;
}
.Privacy_content {
  color: #555 !important;
  font-size: 14px !important;
}
.refund_policy_heading {
  font-size: 14px !important;
  color: #555 !important;
  font-weight: 500;
}
